<div class="form-container">
    <div class="form-title">
        <h3>{{title}}</h3>
        <p *ngIf="showDescription">{{ description }}</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="field-container">
        <mat-form-field appearance="outline">
            <mat-label>Clasificación:</mat-label>
            <mat-select formControlName="classification">
                <mat-option *ngFor="let c of vehicleClassificationList" [value]="c">
                    {{ c }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('classification')?.hasError('required')">
                Selecciona una clase
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Marca</mat-label>
            <input matInput formControlName="brand" placeholder="Ej. Honda" />
            <mat-error *ngIf="form.get('brand')?.hasError('required')">
                La marca del vehiculo es obligatoria
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Modelo</mat-label>
            <input matInput formControlName="model" placeholder="Ej. Civic" />
            <mat-error *ngIf="form.get('model')?.hasError('required')">
                El modelo es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Alta Gama:</mat-label>
            <mat-select formControlName="highEnd">
                <mat-option [value]="true">
                    Si
                </mat-option>
                <mat-option [value]="false">
                    No
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Electrico:</mat-label>
            <mat-select formControlName="isElectric">
                <mat-option [value]="true">
                    Si
                </mat-option>
                <mat-option [value]="false">
                    No
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="form-actions">
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
                {{ submitLabel }}
            </button>

            <button *ngIf="showCancel" mat-stroked-button color="warn" type="button" (click)="onCancel()">
                Cancelar
            </button>
        </div>
    </form>
</div>