
.login-page-container
    min-height: 100vh
    display: flex
    justify-content: center
    align-items: center

.login-container
    width: 70%
    max-width: 480px
    text-align: center
    color: var(--kin-gray-600)
    border: 2px solid var(--kin-primary) !important
    border-radius: 12px
    box-shadow: none

mat-card
    width: 70%
    height: 80%
    max-width: 480px
    text-align: center
    color: var(--kin-gray-600)
    border: 2px solid var(--kin-primary) !important
    border-radius: 12px
    box-shadow: none

    border: 1px solid var(--kin-gray-300)
    border-radius: 12px

    .centered-header
        justify-content: center
        text-align: center
        margin-bottom: 25px
        margin-top: 25px

    mat-card-title
        display: flex
        flex-direction: column
        align-items: center
        gap: 8px
        font-size: 25px
        

.floating-avatar
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    width: 50px
    height: 50px
    border-radius: 50%
    overflow: hidden
    display: flex
    align-items: center
    justify-content: center
    background: var(--mat-card-background, #fff)
    border: 2px solid var(--mat-card-background, var(--kin-primary))
    box-shadow: 0 2px 8px rgba(0,0,0,.2)

    img
        width: 80%
        height: 80%
        object-fit: fill
        display: block
