<mat-card class="profile-card" appearance="outlined">
    <mat-card-content>
        <div class="profile-header">
            <img mat-card-avatar class="profile-image" [src]="profilePictureURL" alt="Profile Picture" />
            <mat-card-title>{{ username }}</mat-card-title>
            <mat-card-subtitle *ngIf="showOccupation">Broker de Seguros</mat-card-subtitle>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-fab matTooltip="Cerrar Sesión" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>