<section class="banner-container">
    <div class="banner-content">
        <img class="banner-logo" src="assets/logo/logo.png" alt="bubo" />
        <div class="banner-text">
            <h1>LLevamos los seguros al siguiente nivel</h1>
            <p>Más simple, más rápido y más cercano a ti.</p>
            <button mat-stroked-button (click)="goToStepper()">
                Comenzar mi cotización
            </button>
        </div>
    </div>
</section>
<section class="intro-container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-grid-tile class="step-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon>edit</mat-icon>
                        <h2>Ingresa tus datos</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Esto nos permitirá enviarte los planes más adecuados y contactarte para una experiencia
                        personalizada.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="step-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon>directions_car</mat-icon>
                        <h2>Registra tu Vehiculo</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Ingresa los datos de tu vehículo para ofrecerte las mejores opciones según sus características.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile class="step-container">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon>done_outline</mat-icon>
                        <h2>Compara y elige tu plan ideal</h2>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        Elige el plan que mejor se adapte a tus necesidades y presupuesto.
                    </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</section>
<section class="slogan-container">
    <div class="slogan-content">
        <h1>Encuentra la mejor cotización para ti</h1>
        <p>En tan solo 3 pasos tendras a tu alcance una lista de opciones formuladas a tu medida.</p>
        <button mat-stroked-button (click)="goToStepper()">
            Quiero cotizar mi seguro
        </button>
    </div>
</section>