<mat-tab-group *ngIf="planTypeTabs.length > 1" class="level-tabs" [(selectedIndex)]="activeTabIndex" animationDuration="0ms">
    <mat-tab *ngFor="let tab of planTypeTabs" [label]="tab.label"></mat-tab>
</mat-tab-group>

<div *ngIf="filteredOfferList.length > 0" class="offer-list-container">
    <app-quote-offer *ngFor="let offer of filteredOfferList; trackBy: trackById" [offer]="offer"
        [insuranceName]="insuranceMap.get(offer.insuranceId)?.name || 'Sin nombre'"
        [selected]="selectedIds.has(offer.id)"
        [compareDisabled]="!selectedIds.has(offer.id) && selectedIds.size >= maxCompare"
        (compareToggled)="toggleCompare(offer.id)"></app-quote-offer>
</div>

<div *ngIf="filteredOfferList.length === 0" class="empty-list">
    <h2>No se encontraron ofertas disponibles.</h2>
</div>

<app-plan-comparison *ngIf="selectedOffers.length > 0" [offers]="selectedOffers" [insuranceMap]="insuranceMap"
    (removeOffer)="removeFromComparison($event)" (closePanel)="clearSelection()"></app-plan-comparison>