<mat-drawer-container class="page-container">
    <mat-drawer *ngIf="!isMobile" mode="side" opened class="drawer-container">
        <app-user-profile [username]="username" [profilePictureURL]="profilePictureURL"
            [profileOptions]="profileOptions"></app-user-profile>
    </mat-drawer>
    <mat-drawer-content>
        <div class="page-header">
            <h2>Hola, {{ username }}</h2>
            <div class="mobile-profile" *ngIf="isMobile">
                <img class="mobile-avatar" [src]="profilePictureURL" alt="Foto de perfil" />
                <button mat-stroked-button [matMenuTriggerFor]="mobileMenu">
                    <mat-icon>account_circle</mat-icon>
                    Mi Perfil
                </button>
                <mat-menu #mobileMenu>
                    <button mat-menu-item (click)="navigateToEntities()">
                        <mat-icon>work</mat-icon>
                        Administrar Entidades
                    </button>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        Cerrar Sesión
                    </button>
                </mat-menu>
            </div>
            <p>Administra tus planes de seguro en esta sección.</p>
        </div>
        <div class="tab-container">
            <mat-tab-group>
                <mat-tab label="Condiciones">
                    <app-data-table [rows]="planRows" [columns]="planColumns" [actions]="planActions" [addElement]="true"
                        (action)="onPlanRowAction('Plan', $event)"
                        (addNewElementAction)="onAddNewElement('Plan')"></app-data-table>
                </mat-tab>
                <mat-tab label="Coberturas Principales">
                    <app-data-table [rows]="benefitRows" [columns]="benefitColumns" [actions]="actions"
                        [addElement]="true" (action)="onRowAction('Benefit', $event)"
                        (addNewElementAction)="onAddNewElement('Benefit')"></app-data-table>
                </mat-tab>
                <mat-tab label="Beneficios">
                    <app-data-table [rows]="benefitRows" [columns]="benefitColumns" [actions]="actions"
                        [addElement]="true" (action)="onRowAction('Benefit', $event)"
                        (addNewElementAction)="onAddNewElement('Benefit')"></app-data-table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #profileOptions>
    <mat-list>
        <mat-list-item (click)="navigateToEntities()">
            <mat-icon matListItemIcon>work</mat-icon>
            <div matListItemTitle>Administrar Entidades</div>
        </mat-list-item>
        <mat-list-item>
            <mat-icon matListItemIcon>assignment</mat-icon>
            <div matListItemTitle>Administrar Planes</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>Editar Perfil</div>
        </mat-list-item>
    </mat-list>
</ng-template>