:root
  --kin-primary: #1a314b
  --kin-secondary: #0c4160
  --kin-accent: #f9ca24
  --kin-accent-dark: #ff6f3c
  --kin-soft-gold: #f1d198
  --kin-gray-600: #595959
  --kin-gray-200: #d2d2d2

.dark
  --kin-primary: #0c4160
  --kin-secondary: #1a314b
  --kin-accent: #f9ca24
  --kin-gray-600: #d2d2d2
  --kin-gray-200: #595959