.send-email-modal .modal-title
    display: flex
    text-align: center
    align-items: center
    flex-direction: column
    color: var(--kin-text)

.send-email-modal .email-field
    width: 100%
    margin-top: 8px
