<mat-card class="quote-card">
  <mat-card-header class="centered-header">
    <mat-card-title>{{ insuranceName }}</mat-card-title>
    <mat-card-subtitle>Plan {{ offer.level | levelLabel }}
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://oferta.bisaseguros.com/hs-fs/hubfs/LOGO%20BISA%20PNG%205-1.png?width=2000&height=1349&name=LOGO%20BISA%20PNG%205-1.png">
  <mat-card-content class="center">
    <h1>{{offer.minimumPremium}} Bs.</h1>
    <p>Prima al contado</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="goToQuotePage()">Ver Detalles</button>
  </mat-card-actions>
</mat-card>

