<mat-toolbar *ngIf="!showToolbar" class="toolbar-container" [class.is-home]="variant === 'transparent'">
  <a class="brand" routerLink="/home" (click)="goHome()" aria-label="Home">
    <img src="assets/logo/logo-white.png" alt="bubo" />
  </a>

  <span class="spacer"></span>

  <div *ngIf="showButton" class="right">
    <span class="nav-link">Coberturas</span>
    <span class="nav-link">Nosotros</span>
    <span class="nav-link">Contáctanos</span>
    <span class="portal-btn" (click)="redirectToPortal()">Portal Bubo</span>
  </div>
</mat-toolbar>