<mat-drawer-container class="page-container">
    <mat-drawer *ngIf="!isMobile" mode="side" opened class="drawer-container">
        <app-user-profile [username]="username" [profilePictureURL]="profilePictureURL" [profileOptions]="profileOptions"></app-user-profile>
    </mat-drawer>
    <mat-drawer-content>
        <div class="page-header">
            <h2>Hola, {{ username }}</h2>
            <div class="mobile-profile" *ngIf="isMobile">
                <img class="mobile-avatar" [src]="profilePictureURL" alt="Foto de perfil" />
                <button mat-stroked-button [matMenuTriggerFor]="mobileMenu">
                    <mat-icon>account_circle</mat-icon>
                    Mi Perfil
                </button>
                <mat-menu #mobileMenu>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        Cerrar Sesión
                    </button>
                </mat-menu>
            </div>
            <p>El acceso a todas las entidades se encuentra en esta sección.</p>
        </div>
        <div class="tab-container">
            <mat-tab-group>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">directions_car</mat-icon>
                        Vehículos
                    </ng-template>
                    <app-data-table [rows]="vehicleRows" [columns]="vehicleColumns" [actions]="actions"
                        [addElement]="true" (addNewElementAction)="onAddNewElement('Vehicle')"
                        (action)="onRowAction($event, 'Vehicle')"></app-data-table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">business_center</mat-icon>
                        Aseguradoras
                    </ng-template>
                    <app-data-table [rows]="insuranceRows" [columns]="insuranceColumns" [actions]="actions"
                        [addElement]="true" (addNewElementAction)="onAddNewElement('Insurance')"
                        (action)="onRowAction($event, 'Insurance')"></app-data-table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">person_shield</mat-icon>
                        Brokers
                    </ng-template>
                    <app-data-table [rows]="brokerRows" [columns]="brokerColumns" [addElement]="true"
                        (addNewElementAction)="onAddNewElement('Broker')"
                        (action)="onRowAction($event, 'Broker')"></app-data-table>
                </mat-tab>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="tab-icon">map</mat-icon>
                        Regionales
                    </ng-template>
                    <app-data-table [rows]="regionRows" [columns]="regionColumns" [actions]="actions"
                        [addElement]="true" (addNewElementAction)="onAddNewElement('Region')"
                        (action)="onRowAction($event, 'Region')"></app-data-table>
                </mat-tab>
            </mat-tab-group>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

<ng-template #profileOptions>
    <mat-list>
        <mat-list-item (click)="navigateTo('entities')">
            <mat-icon matListItemIcon>work</mat-icon>
            <div matListItemTitle>Administrar Entidades</div>
        </mat-list-item>
        <mat-list-item (click)="navigateToPlans()">
            <mat-icon matListItemIcon>assignment</mat-icon>
            <div matListItemTitle>Administrar Planes</div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item (click)="navigateTo('entities')">
            <mat-icon matListItemIcon>person</mat-icon>
            <div matListItemTitle>Editar Perfil</div>
        </mat-list-item>
    </mat-list>
</ng-template>
