<div class="form-container">
    <div class="form-title">
        <h3>{{title}}</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="field-container">
        <mat-form-field appearance="outline">
            <mat-label>Vehículo:</mat-label>
            <mat-select formControlName="vehicleId">
                <mat-option *ngFor="let v of vehicleList" [value]="v.id">
                    {{ getVehicleInfo(v) }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('vehicleId')?.hasError('required')">
                Selecciona un vehículo.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Región:</mat-label>
            <mat-select formControlName="regionalId">
                <mat-option *ngFor="let r of regionList" [value]="r.id">
                    {{ r.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('regionalId')?.hasError('required')">
                Selecciona una clase
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Aseguradora:</mat-label>
            <mat-select formControlName="insuranceId">
                <mat-option *ngFor="let i of insuranceList" [value]="i.id">
                    {{ i.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('insuranceId')?.hasError('required')">
                Selecciona una aseguradora.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Prima:</mat-label>
            <input matInput formControlName="minimumPremium" placeholder="Ej. 2000" />
            <mat-error *ngIf="form.get('minimumPremium')?.hasError('required')">
                La cantidad de prima es obligatoria
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Rate:</mat-label>
            <input matInput formControlName="rate" placeholder="Ej. 2.4" />
            <mat-error *ngIf="form.get('rate')?.hasError('required')">
                El total es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Limite de Años:</mat-label>
            <input matInput formControlName="ageLimit" placeholder="Ej. 20" />
            <mat-error *ngIf="form.get('ageLimit')?.hasError('required')">
                El limite es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Descuento:</mat-label>
            <input matInput formControlName="discount" placeholder="Ej. 20%" />
            <mat-error *ngIf="form.get('discount')?.hasError('required')">
                El porcentaje de descuento es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Precio:</mat-label>
            <input matInput formControlName="price" placeholder="Ej. 20000" />
            <mat-error *ngIf="form.get('price')?.hasError('required')">
                El precio es obligatorio
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Nivel:</mat-label>
            <mat-select formControlName="level">
                <mat-option [value]="'basic'">
                    Básico
                </mat-option>
                <mat-option [value]="'gold'">
                    Premium
                </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('level')?.hasError('required')">
                Selecciona una nivel.
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Franquicia:</mat-label>
            <input matInput formControlName="franchise" placeholder="Ej. 150" />
            <mat-error *ngIf="form.get('franchise')?.hasError('required')">
                La franquicia es obligatoria.
            </mat-error>
        </mat-form-field>
        <div class="form-actions">
            <button mat-flat-button color="primary" type="submit" [disabled]="form.invalid">
                {{ submitLabel }}
            </button>

            <button *ngIf="showCancel" mat-stroked-button color="warn" type="button" (click)="onCancel()">
                Cancelar
            </button>
        </div>
    </form>
</div>