<mat-card class="profile-card" appearance="outlined">
    <mat-card-header>
        <div mat-card-avatar class="profile-image"></div>
        <mat-card-title>John Doe</mat-card-title>
        <mat-card-subtitle>Broker</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-label>Correo electronico:</mat-label>
        <p>johndoe@gmail.com</p>
        <mat-label>Regional:</mat-label>
        <p>Santa Cruz</p>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button>Editar Perfil</button>
        <button mat-button>Cerrar Sesión</button>
    </mat-card-actions>
</mat-card>