<div class="stepper-container">
    <mat-stepper linear #stepper>
        <mat-step>
            <ng-template matStepLabel>Ingresa los datos de tu Vehículo</ng-template>
            <app-client-vehicle (submitted)="onClientVehicleSubmitted($event)"
                (cancelled)="onCancelled()"></app-client-vehicle>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Elige tu cotización</ng-template>
            <app-offer-list [offerList]="offerList"></app-offer-list>
        </mat-step>
    </mat-stepper>
</div>